{% extends 'components/card.twig' %}

{% block card_title %}{{ dad.first_name|e }} {{ dad.last_name|e }}{% endblock %}

{% block card_body %}
    <div>{{ dad.biography|e }}</div>

    <div>
        <div>
            <div class="title">Skills</div>
            
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Proficiency</th>
                    </tr>
                </thead>
                <tbody>
                    {% for skill in dad.skills %}
                        <tr>
                            <td>{{ skill.name|e|title }}</td>
                            <td>{{ skill.description|e }}</td>
                            <td>{{ skill.proficiency|e }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block card_footer %}
    {% if session.is_valid_user is defined %}
        <form action="." method="post">
            <input type="hidden" name="dad_id" value="{{ dad.id }}">
            <input class="submit-button" type="submit" name="action" value="Rent This Dad">
        </form>
    {% endif %}
{% endblock %}
